<div id="filterAccordion" (click)="componentClicked()">
    <ng-container *ngFor="let filter of selectItems; let filterIndex=index">
        <div class="panel panel-default">
            <a role="button" data-toggle="collapse" id="filter.key" data-parent="#filterAccordion"
            [href]="'#' + filter.key + 'filter'" aria-expanded="true"
            [attr.aria-controls]="filter.key + 'filter'">
                <div *ngIf="!multiSelect" class="panel-heading" role="tab" [id]="filter.key">
                    <h4 *ngIf="selectedItem" class="panel-title">
                        {{ selectedItem }} <i class="fa float-right" [ngClass]="[ filter.isExpanded ? 'fa-chevron-up' : 'fa-chevron-down' ]"></i>
                        </h4>
                    <h4 *ngIf="!selectedItem" class="panel-title">
                    {{ selectName }} <i class="fa float-right" [ngClass]="[ filter.isExpanded ? 'fa-chevron-up' : 'fa-chevron-down' ]"></i>
                    </h4>
                </div>
                <div *ngIf="multiSelect" class="panel-heading multi-heading" role="tab" [id]="filter.key">
                    <h4 class="panel-title">
                     {{ selectName }} - {{noOfValuesSelected}}/{{filter.values.length}}
                      <i class="fa float-right"
                        [ngClass]="[ filter.isExpanded ? 'fa-chevron-up' : 'fa-chevron-down' ]"></i>
                    </h4>
                  </div>
            </a>
            <div [id]="filter.key + 'filter'" class="panel-collapse collapse" role="tabpanel"
            [attr.aria-labelledby]="filter.key">
                <div *ngIf="!multiSelect" class="panel-body">
                    <ul class="m-0">
                        <li class="d-flex li1" *ngFor="let value of filter.values;"
                            (click)="selectedItem = value; selectionMade(); filter.isExpanded = !filter.isExpanded;">
                            <p class="m-0">{{ value }}</p>
                        </li>
                    </ul>
                </div>
                <div *ngIf="multiSelect" class="panel-body multi-body">
                    <ul class="m-0">
                      <li *ngIf="searchbox" class="d-flex li1 searchbar">
                        <input type="text" class="form-control searchtheinput"
                        [(ngModel)]="searchText" name="searchText" placeholder="Search {{selectName}}">
                      </li>
                      <li class="d-flex li1 checkboxes">
                        <div>
                          <input [(ngModel)]="allSelectInput" (change)="allSelected()" class="mr-1 filter-inputbox" type="checkbox">
                        </div>
                        <p class="m-0" >All</p>
                      </li>
                      <hr>
                      <ng-container *ngFor="let value of filter.values | filter : getCallback(); let i=index">
                        <li class="d-flex li1 checkboxes">
                          <div>
                            <input (change)="multiSelectionMade()" class="mr-1 filter-inputbox" type="checkbox" [(ngModel)]="value.isChecked">
                          </div>
                          <p class="m-0">{{ value.name }}</p>
                        </li>
                        <hr>
                      </ng-container>
                    </ul>
                  </div>
            </div>
        </div>
    </ng-container>
</div>
