.stepwizard-row:before {
  top: 38px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 50%;
  height: 2px;
  background-color: #e8e6e6;
  z-index: 0;
}

.step {
  min-width: 200px;
  z-index: 1;
}

.step span {
  background-color: #fff;
  text-align: center;
  width: 64px;
}

.btn-circle {
  width: 40px;
  height: 40px;
  background-color: #D4DBE3;
  border-radius: 100%;
}

.btn-circle.active {
  background-color: #595f67;
}

.custom-input {
  border: 2px solid #bfc2c5;
}

.custom-input input[type="week"] {
  font-family: arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  outline: none;
  border: 0;
  border-radius: 3px;
  padding: 0 3px;
}

.nextBtn {
  background-color: #00ca9b;
  border-color: #00ca9b;
  font-weight: bold;
  font-size: 14px;
  border-radius: 8px;
}

.step-1-text label {
  display: block;
  font-weight: normal;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #5f6266;
}

select.minimal {
  background-image: linear-gradient(45deg, transparent 50%, gray 50%),
  linear-gradient(135deg, gray 50%, transparent 50%);
  background-position: calc(100% - 20px) calc(1em + 4px),
  calc(100% - 15px) calc(1em + 4px),
  calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px,
  5px 5px,
  1px 1.5em;
  background-repeat: no-repeat;
  border: 2px solid #bfc2c5 !important;
  height: 45px;
  width: 100%;
}

select.minimal:focus {
  background-image: linear-gradient(45deg, green 50%, transparent 50%),
  linear-gradient(135deg, transparent 50%, green 50%);
  background-position: calc(100% - 15px) 1em,
  calc(100% - 20px) 1em,
  calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px,
  5px 5px,
  1px 1.5em;
  background-repeat: no-repeat;
  border-color: green;
  outline: 0;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

select {
  /* styling */
  background-color: white;
  border: thin solid blue;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;
  /* reset */
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

select.round:focus {
  background-image: linear-gradient(45deg, white 50%, transparent 50%),
  linear-gradient(135deg, transparent 50%, white 50%),
  radial-gradient(gray 70%, transparent 72%);
  background-position: calc(100% - 15px) 1em,
  calc(100% - 20px) 1em,
  calc(100% - .5em) .5em;
  background-size: 5px 5px,
  5px 5px,
  1.5em 1.5em;
  background-repeat: no-repeat;
  border-color: green;
  outline: 0;
}

.step-2-content {
  margin-top: 30px;
}

.last-box {
  height: 365px;
  border: 2px solid #e3e3e3;
  margin-bottom: 10px;
  border-radius: 7px;
  width: 100%;
  overflow-y: auto;
}

.more-less {
  float: right;
  color: #212121;
}

.brand-selector ul {
  padding-left: 0px;
  list-style: none;
}

.brand-selector ul li {
  padding: 5px 5px;
}

.brand-selector ul li:nth-of-type(2n+1) {
  background: #eeeff0;
}

.panel-group .panel {
  width: 94% !important;
  margin: 0 auto !important;
  border: 0 !important;
}

.panel-default > .panel-heading {
  background-color: transparent !important;
}

.brand-selector ul li input {
  margin-right: 5px;
}

.search-box-l {
  border-radius: 5px !important;
  height: 41px !important;
  box-shadow: none !important;
  border: 2px solid #e9edf0 !important;
  font-size: 11px !important;
}

.box-main {
  margin-bottom: 20px;
}

.box-main a {
  text-decoration: underline;
  color: #4a4e52;
}

.brand-selector2 ul li {
  color: #555;
}

.box-main span {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #1b2025;
  margin-bottom: 4px;
  display: block;
}

.brand-selector2 ul li:nth-of-type(2n+1) {
  background: transparent;
}

.items {
  padding: 20px;
  text-align: center;
  margin: 10px;
  border: 2px solid #e3e3e3;
  box-shadow: 0 3px 0 #ddd;
  min-width: 265px;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.items:hover {
  box-shadow: 0 0 15px #ddd;
  border-color: transparent;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.items i {
  font-size: 25px;
  color: #333;
  margin: 15px 0;
}

.items h4 {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 1.3rem;
}

.items a {
  font-size: 0.8rem;
}
